ol{font-weight: 600; margin-left: 20px;list-style-image: url(imag/arrow.png); }
ul{font-weight: 200;margin-left: 50px;}
#winter{color: rgb(0,0,200);}
#spring{color: rgb(0,190,0);}
#summer{color: #ffd24c}
#autumn{color: #d96c00;}
#winter li { list-style-image: url(imag/snow.png);}
#spring li { list-style-image: url(imag/spring.png); }
#summer ul { list-style-image: url(imag/summer.png); }
#autumn ul { list-style-image: url(imag/autumn.jpg); }
